.box {
    min-height: 50px;
    background-color: lightblue;
    color: white;
    border: 1px solid white;
}

.inner-box {
    width: 90%;
    margin: 1em;
    min-height: 50px;
    background-color: limegreen;
    border: 1px solid lightblue;
}

/* UTILITY */
.margin1 {
    margin: 1em;
}
.margin-top1 {
    margin-top: 1em;
}
.margin-top2 {
    margin-top: 2em;
}

/* DUCK PIXEL */
.container-pixel {
    width: 20%;
}
.duck-b {
    background-color: black;
    height: 50px;
}

.duck-y {
   background-color: gold;
   height: 50px;
}

.duck-o {
    background-color: rgb(255, 166, 0);
    height: 50px;
}